<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBook</servlet-name>
        <servlet-class>SaveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookListServlet</servlet-name>
        <servlet-class>BookListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBook</servlet-name>
        <servlet-class>RemoveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForm</servlet-name>
        <servlet-class>UpdateForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBook</servlet-name>
        <url-pattern>/SaveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookListServlet</servlet-name>
        <url-pattern>/BookListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBook</servlet-name>
        <url-pattern>/RemoveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForm</servlet-name>
        <url-pattern>/UpdateForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
